.ProductCard {
	background: #fff;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137);
	overflow: hidden;
	margin: 1rem;
	flex: 0 1 22%;
}

.ProductCard img {
	max-width: 100%;
	height: 300px;
}
.mainContent {
	margin: 1rem;
}

@media (max-width: 920px) {
	.ProductCard {
		flex: 1 21%;
	}
}

@media (max-width: 600px) {
	.ProductCard {
		flex: 1 46%;
	}
}
